/* Variables */
:root,
html {
  --primary-color: #0098b3;
  --primary-color-transparent: #0098b3aa;
  --primary-color-light: #0288a041;
  --contrast-color: #001c22;
  --blue-silk: #044f67;
  --texte: #001114;
  --light-color: #a2f1ff;
  --white: #f4f4f9;
  --qcm_box: #2b9884bf;
  --qcm_q: #167671bf;
  --shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.15);
  --dark-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.2);
  --shadow-footer: 0 -0.15em 0.3em rgba(0, 0, 0, 0.2);
  --border-radius: 0.5em;
  --correct: #4CAF50;
  --correct-light: #60af4c89;
  --false: #d82c1f;
  --false-light: #bb221794;
  --hover-background-menu: #005a80;
  --dropdown-background: #007099;
  --dropdown-submenu-background: #004b66;
  --checkbox-background-hover: #ccc;
  --checkbox-btn-background: #eee;
  --black-0-15: rgba(0, 0, 0, 0.15);
  --black-0-2: rgba(0, 0, 0, 0.2);
  --black-0-3: rgba(0, 0, 0, 0.3);
  --gold: gold;
  --yellow: yellow;
  --grey-checkbox-hover: #ccc;
  --white-0-3-hover-radio: rgba(255, 255, 255, 0.3);
  --grey-333: #333;
  --light-grey-eee: #eee;
  --green-7bc51b62: #7bc51b62;
  --red-e91728: #e91728;
  --red-845-alpha-134-0-0: rgba(134, 0, 0, 0.845);
  --body-background-color: var(--light-color);
  --start-hue-page: 150;
  --end-hue-page: 280;
  --page-saturation: 70%;
  --page-lightness: 75%;
  --permanent_blue: rgb(86, 207, 216);
}


.theme-toggle {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: transform 0.2s ease;
  color: var(--texte);
}

.theme-toggle:hover {
  transform: rotate(20deg);
}


/* Style général & corps de page */
body {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  background-color: var(--body-background-color);
  color: var(--texte);
}


.separator {
  width: 15%;
  margin: 20px auto;
  border: none;
  height: 2px;
  background-color: var(--contrast-color);
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 7px;
  z-index: 99;
  border: none;
  outline: none;
  box-shadow: var(--shadow);
  background-color: var(--black-0-2);
  color: var(--texte);
  cursor: pointer;
  padding: 0.2em 0.6em;
  border-radius: 50%;
  font-size: 2em;
  transition: background-color 0.2s, opacity 0.5s, visibility 0.5s;
  opacity: 0.8;
  visibility: hidden;
}

#back-to-top-btn.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  background-color: var(--black-0-2);
}

#back-to-top-btn:focus {
  background-color: var(--contrast-color);
  outline: 2px solid var(--primary-color, --primary-color-light);
  outline-offset: 2px;
}

.hyperlink {
  display: block;
  color: var(--texte);
  text-decoration: none;
  font-size: 1em;
  margin: 0.5em 0;
  text-align: center;
}

.hyperlink:hover {
  color: var(--texte);
  text-shadow: 0 0 5px var(--contrast-color);
}


/* Barre de navigation */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 1rem 0;
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: 3;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 1vw;
}

.menu-item {
  position: relative;
}

.menu-item a {
  color: var(--white);
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  display: block;
  border-radius: var(--border-radius);
  transition: background-color 0.2s, tranform 0.2s ease;
}

.menu-item a:hover,
.submenu-item a:hover {
  background-color: var(--hover-background-menu);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transform: scale(1.025);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu déroulant */
.dropdown .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--dropdown-background);
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 12em;
  z-index: 1000;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.dropdown:hover>.submenu {
  display: block;
}

.submenu-item {
  position: relative;
}

.submenu-item a {
  padding: 0.75rem 1rem;
  display: block;
  white-space: nowrap;
  transition: background-color 0.5s;
}

.dropdown .submenu .submenu {
  top: 0;
  left: 100%;
  background-color: var(--dropdown-submenu-background);
}


/* Style des liens */
.links {
  display: grid;
  gap: 0.5em;
  padding: 1em;
  grid-template-columns: repeat(3, 1fr);
}


/* Menu latéral */
.sidebar {
  position: fixed;
  width: 14vw;
  background-color: var(--contrast-color);
  color: var(--white);
  text-align: center;
  padding: 0.3em 1.2em;
  margin: 1.4em auto;
  border-radius: 1em;
  box-shadow: var(--shadow);
  animation: slideInFromLeft 0.5s ease forwards;
  transition: box-shadow 0.5s ease, border-radius 0.5s ease;
  margin-left: 0.7em;
  z-index: 2;
}

.sidebar ul {
  padding-left: 0;
  align-content: center;
}

.sidebar h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.sidebar li {
  margin-bottom: 0.5em;
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  display: block;
  padding: 0.8em 0.1em;
  border-radius: var(--border-radius);
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.sidebar a:hover {
  background-color: var(--primary-color-transparent);
  color: var(--white);
  transform: scale(1.05);
  box-shadow: var(--shadow);
}


/* Page & Structure du Contenu */
.page-container {
  text-align: center;
}

.content {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  min-height: 90vh;
  width: 102%;
  position: relative;
  overflow: hidden;
  border-radius: 0.8em;
  box-shadow: var(--shadow);
  margin-bottom: 1.5em;
  padding: 0;
  background-color: hsl(calc(var(--start-hue-page) + (var(--end-hue-page) - var(--start-hue-page)) * var(--page-ratio)),
      var(--page-saturation),
      var(--page-lightness),
      0.6);
}

.section-content {
  position: relative;
  z-index: 1;
  padding: 1em;
  text-align: center;
}


/* Titres */
.titre-page {
  position: static;
  color: var(--texte);
  width: 75%;
  float: inline-end;
  font-size: 2.5em;
  text-align: center;
  margin: 0.8em 4%;
  line-height: 1.2;
}

.titre-page-center {
  font-size: 4em;
  color: var(--texte);
  text-align: center;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 90%;
}

.titre-qcm {
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 0;
  transition: color 0.2s ease;
  margin-top: 0.4em;
  margin-bottom: 3em;
}

.titre-qcm:hover {
  text-shadow: var(--shadow);
  text-decoration: underline;
  transform: scale(1.01);
}


/* Style exercices & questions */
.exercice {
  position: static;
  width: 75%;
  float: inline-end;
  margin: 1em 4%;
  background-color: var(--primary-color);
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: var(--shadow);
  animation: fade-in 0.5s ease;
  z-index: 1;
}

.exercice h2 {
  color: var(--texte);
}

.question {
  position: relative;
  background-color: var(--contrast-color);
  color: var(--white);
  padding: 0.8em 1.8em;
  border-radius: 0.75em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: auto;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.question:hover {
  box-shadow: 0 6px 14px var(--black-0-3);
  transform: scale(1.01);
}

.question p {
  text-align: center;
  margin: 0.5em 0;
  width: 100%;
  box-sizing: border-box;
}

.énoncé {
  padding: 1em;
  color: var(--white);
  background-color: var(--blue-silk);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  font-size: 120%;
}

.gif {
  box-shadow: var(--shadow);
  border-radius: 1em;
  width: 80%;
}

.exercice-correction {
  background-color: var(--green-7bc51b62);
  padding: 2%;
  justify-content: space-around;
  border-radius: 0 0 0.3125em 0.3125em;
  margin-top: 0;
  display: none;
  overflow: visible;
}

.hidden {
  display: none;
}

.toggle-correction {
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
  transition: color 0.5s ease;
}

.toggle-correction:hover {
  color: var(--correct);
  filter: drop-shadow(0 0 0.2em var(--correct));
  animation: enlarge-on-hover 0.2s ease-out;
}

.toggle-correction:active {
  animation: validation 0.5s ease;
}

@keyframes validation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}


/* Style QCM */
.test_qcm {
  position: static;
  width: 75%;
  float: inline-end;
  margin: 1em 4%;
  background-color: var(--primary-color);
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: var(--shadow);
  animation: fade-in 0.5s ease;
  z-index: 1;
  color: var(--white);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: initial;
}

.test_qcm.collapsed {
  max-height: 10vh;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
}

.test_qcm:not(.collapsed) {
  cursor: default;
}

.q {
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: var(--qcm_q);
  border: 1px solid var(--blue-silk);
  border-radius: 0.625em;
}

.q p {
  font-size: 1.2rem;
  text-align: center;
}

.rendu-3d {
  width: 1em;
  height: auto;
}

.consigne {
  font-size: 1.2em;
  color: var(--white);
  margin: 0;
  line-height: 1.5;
  text-align: center;
  margin-left: 0.8vw;
  max-width: 100%;
  text-align: left;
}

.etoiles {
  display: inline-flex;
  margin-right: 0.5em;
  vertical-align: middle;
  margin-bottom: 0.2em;
}

.etoile {
  width: 2em;
  height: 2em;
  margin: -0.25em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='gold'%3E%3Cpath d='M12 17.27l-4.24 2.54 1.57-5.22-3.36-3.27 5.38-.37L12 6.1l1.65 5.27 5.38.37-3.36 3.27 1.57 5.22z'/%3E%3C/svg%3E");
  background-size: cover;
  transition: transform 0.2s ease, filter 0.2s ease;
  filter: drop-shadow(0 0 3px var(--gold));
  animation: etoile-brille 1.5s infinite ease-in-out;
  vertical-align: middle;
  margin-bottom: 0.15em;
}

.etoile:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 0 5px var(--yellow));
}

@keyframes etoile-brille {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.etoile.cachee {
  opacity: 0.2;
  filter: grayscale(80%);
  animation: none;
}

.coeur {
  font-size: 1.5em;
  margin-right: 0.5em;
  cursor: default;
  transition: transform 0.2s ease, filter 0.2s ease;
  animation: coeur-battant 2s infinite ease-in-out;
}

.coeur:hover {
  transform: scale(1.2);
  color: var(--red-845-alpha-134-0-0);
  filter: drop-shadow(0 0 0.4em var(--red-e91728));
  animation-play-state: paused;
}

.consigne .coeur {
  position: relative;
  top: 0;
  left: 0;
}

@keyframes coeur-battant {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: scale(1.05) rotate(-2deg);
  }

  50% {
    transform: scale(1.1) rotate(2deg);
  }

  75% {
    transform: scale(1.05) rotate(-2deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.options {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 1em;
}

.options label {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--white);
  cursor: pointer;
  position: relative;
  padding-left: 2.5em;
}

.custom-radio input[type="radio"] {
  display: none;
}

.source {
  font-size: 0.8em;
  font-style: italic;
  color: var(--light-color);
  text-align: center;
  margin-top: 10px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.5em;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--grey-333);
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--light-grey-eee);
  border: 2px solid var(--primary-color);
  border-radius: 0.25em;
}

.custom-checkbox:hover input~.checkbox-btn {
  background-color: var(--checkbox-background-hover);
}

.custom-checkbox input:checked~.checkbox-btn {
  background-color: var(--primary-color);
}

.checkbox-btn:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkbox-btn:after {
  display: block;
}

.checkbox-btn:after {
  left: 0.5em;
  top: 0.2em;
  width: 0.3em;
  height: 0.8em;
  border: solid var(--white);
  border-width: 0 0.25em 0.25em 0;
  transform: rotate(45deg);
}

.custom-radio .radio-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5em;
  height: 1.5em;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.custom-radio input[type="radio"]:checked+.radio-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transform: translateY(-50%) scale(1.2);
}

.custom-radio input[type="radio"]:focus+.radio-btn {
  box-shadow: var(--dark-shadow);
}

.custom-radio .radio-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.75em;
  height: 0.75em;
  background-color: var(--white);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-radio input[type="radio"]:checked+.radio-btn:before {
  opacity: 1;
}

.options label:hover .radio-btn {
  background-color: var(--white-0-3-hover-radio);
}


/* Boite explication du QCM */
.explanation {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--false-light);
  border: 1px solid var(--false);
  border-radius: 4px;
  color: var(--false);
  font-size: 0.9em;
  display: none;
}

.encadre {
  border: 0.1rem solid;
  padding: 1em;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  background-color: var(--correct);
  box-sizing: border-box;
}

.encadre p {
  margin: 0;
  font-size: 1.1em;
  color: var(--contrast-color);
}


/* Boutons */
.button_qcm {
  background-color: var(--correct);
  color: var(--white);
  border: none;
  padding: 1em 2.5em;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: transform 0.15s ease-in-out;
}

.button_qcm:hover {
  background-color: var(--correct);
  box-shadow: var(--shadow);
  transform: scale(1.02);
  color: var(--contrast-color);
}

.button_qcm:active {
  transform: scale(0.98);
}

.toggle-correction {
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
  transition: color 0.5s ease;
}

.toggle-correction:hover {
  color: var(--correct);
  filter: drop-shadow(0 0 0.2em var(--correct));
}

.toggle-correction:active {
  animation: validation 0.5s ease;
}

@keyframes validation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}


/* Style resultat */
.resultat_qcm {
  padding: 1.5em;
  color: var(--white);
  background-color: var(--contrast-color);
  border-radius: 8px;
  border: 1px solid var(--blue-silk);
  font-size: 1.2em;
  text-align: center;
}


/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@media (max-aspect-ratio: 1.6),
(max-width: 1080px) {
  .titre-page {
    font-size: 2em;
    float: none;
    margin: 2% auto;
    width: 100%;
    margin-bottom: 1em;
  }

  .links {
    grid-template-columns: repeat(2, 1fr);
  }

  .énoncé p {
    font-size: 1.3rem;
    text-align: center;
  }

  .q p {
    font-size: 1rem;
    text-align: center;
  }

  .exercice {
    width: 90%;
    float: none;
    margin: 2% auto;
  }

  .question p {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    text-align: start;
  }

  .test_qcm {
    width: 90%;
    float: none;
    margin: 2% auto;
  }

  .exercice-menu {
    width: auto;
    padding: 0.625em;
    margin: 1em auto;
    border-radius: 0.5em;
  }

  .exercice-menu h2 {
    font-size: 1.1em;
    margin-bottom: 0.75em;
  }

  .exercice-menu ul {
    margin: 0;
    padding: 0;
  }

  .etoiles {
    display: flex;
    justify-content: center;
    margin-right: 2vw;
    margin-bottom: 2vw;
  }

  .etoile {
    width: 6vw;
    height: 6vw;
    margin: -0.5vw;
    background-size: contain;
    filter: drop-shadow(0 0 1vw var(--gold));
    margin-bottom: 1vw;
  }

  .etoile:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 1.5vw var(--yellow));
  }

  .coeur {
    font-size: 5vw;
    margin-right: 3vw;
  }

  .coeur:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1vw var(--red-e91728));
  }

  .consigne .coeur {
    top: 1vw;
    left: 1vw;
  }

  .exercice-menu li {
    margin-bottom: 0.5em;
  }

  .exercice-menu a {
    padding: 0.5em 1em;
    border-radius: 0.3em;
  }

  .content {
    padding: 0.5em;
    align-items: flex-start;
  }

  .sidebar {
    position: static;
    max-width: 99%;
    width: 90%;
    animation: none;
    margin: auto auto 1% auto;
    z-index: 1;
    margin-top: 1em;
    align-self: center;
    margin-bottom: 1em;
  }

  .sidebar a:hover {
    background-color: var(--primary-color-transparent);
    color: var(--);
    transform: scale(1);
    box-shadow: var(--shadow);
  }

  .page {
    border-radius: 0.5em;
    box-shadow: none;
    align-self: center;
  }

  .section-content {
    padding: 0.5em;
  }

  .gif {
    width: 50vw;
  }
}


@media (max-aspect-ratio: 0.75),
(max-width: 750px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .explanation {
    font-size: 1.6vw;
    align-self: center;
  }

  .hyperlink {
    font-size: 1.2em;
  }

  .links {
    grid-template-columns: 1fr;
  }

  .consigne {
    font-size: 1em;
  }

  .test_qcm {
    width: 90%;
    float: none;
    margin: 2% auto;
    padding-bottom: 12vh;
    align-self: center;
  }

  .test_qcm.collapsed {
    max-height: 2em;
  }

  .test_qcm.collapsed:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease;
  }

  .titre-qcm {
    font-size: 1.2em;
    margin-bottom: 10vh;
    width: 100%;
    padding: 0.4em 0;
    text-align: center;
    transition: text-decoration 0.2s ease;
  }

  .titre-qcm:hover {
    text-decoration: underline;
  }

  #back-to-top-btn {
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.6em 0.9em;
    font-size: 1.2em;
  }

  .titre-page-center {
    font-size: 2em;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2%;
    align-self: center;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .menu-item a {
    padding: 0.75rem 1rem;
  }

  .exercice-correction p {
    font-size: 3.5vw;
    text-align: start;
  }

  .exercice-correction {
    overflow-x: auto;
    padding: 5%;
    align-self: center;
  }

  .titre-page {
    line-height: 10vw;
  }

  .menu-toggle {
    display: block;
    align-self: flex-end;
    margin-right: 1rem;
    z-index: 3;
  }

  .theme-toggle {
    position: block;
    right: auto;
    margin-left: 1rem;
    z-index: 3;
  }

  .menu.show {
    display: flex;
  }

  .dropdown .submenu {
    position: relative;
    left: 0;
    top: 0;
  }

  .dropdown .submenu .submenu {
    left: 0;
    align-self: center;
  }

  .gif {
    width: 70vw;
  }
}