/* Variables */
:root,
html {
  --primary-color: #0288a0;
  --primary-color-transparent: #0288a0b3;
  --primary-color-light: #0288a041;
  --contrast-color: #001c22;
  --blue-silk: #044f67;
  --light-color: #a2f1ff;
  --white: #F9F7F3;
  --shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.15);
  --dark-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.2);
  --shadow-footer: 0 -0.15em 0.3em rgba(0, 0, 0, 0.2);
  --border-radius : 0.5em;
}

/* Style de la page */
body {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  background-color: var(--main-color-20);
}

/* Barre de navigation */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
  box-shadow: var(--shadow);
  border-radius: 0 0 0.5em 0.5em;
  z-index: 2;
}

/* Menu de navigation du haut de la page */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 1vw;
}

.menu-item {
  position: relative;
}

.menu-item a {
  color: white;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  display: block;
  border-radius: 0.5em;
  transition: background-color 0.3s, tranform 0.3s ease;
}

.menu-item a:hover,
.submenu-item a:hover {
  background-color: #005a80;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  transform: scale(1.025);
}

/* Menu déployant */
.dropdown .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #007099;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 12em;
  z-index: 1000;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
}

.dropdown:hover>.submenu {
  display: block;
}

.submenu-item {
  position: relative;
}

.submenu-item a {
  padding: 0.75rem 1rem;
  display: block;
  white-space: nowrap;
  transition: background-color 0.5s;
}

.dropdown .submenu .submenu {
  top: 0;
  left: 100%;
  background-color: #004b66;
}


.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Style du titre supérieur de chaque pages avec menu latéral */
.titre-page {
  position: relative;
  font-size: 2rem;
  float: inline-end;
  margin-right: 33%;
}

/* Style du titre supérieur de chaque pages normales */
.titre-page-center {
  font-size: 4em;
  text-align: center;
}

.page-container {
  text-align: center;
}

.consigne {
  font-weight: bold;
}

.exercise {
  position: static;
  width: 75%;
  float: inline-end;
  margin: 1em 4%;
  background-color: var(--primary-color);
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: var(--shadow);
  animation: fade-in 0.5s ease;
  z-index: 1;
}

.exercise h2 {
  color: #000d14;
}

.question,
.exercise-correction {
  width: 100%;
  margin-top: 1em;
}


.question {
  position: center;
  background-color: #004855d2;
  color: var(--white);
  padding: initial;
  border-radius: 0.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--shadow);
  transition: transform 0.5s;
}


.question:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.01);
}

.énoncé {
  padding: 1em;
  color: var(--white);
  background-color: var(--blue-silk);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  font-size: 110%;
}

/* Style de la partie correction */
.exercise-correction {
  background-color: #7bc51b62;
  padding: 0.2em 0;
  justify-content: space-around;
  border-radius: 0 0 0.3125em 0.3125em;
  margin-top: 0;
  display: none;
  overflow: visible;
}

.hidden {
  display: none;
}

.toggle-correction {
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
  transition: color 0.5s ease;
}

.toggle-correction:hover {
  color: rgb(21, 179, 0);
}

.toggle-correction:active {
  animation: validation 0.5s ease;
}

@keyframes validation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* Menu latéral des thèmes traités dans le chapitre */
.sidebar {
  position: fixed;
  width: 15%;
  max-width: 16em;
  background-color: var(--contrast-color);
  color: var(--white);
  text-align: center;
  padding: 1em;
  margin: 2em auto;
  border-radius: 1em;
  box-shadow: var(--shadow);
  animation: slideInFromLeft 0.5s ease forwards;
  transition: box-shadow 0.5s ease, border-radius 0.5s ease;
  margin-left: 2em;
  z-index: 1;
}

.sidebar ul {
  padding-left: 0;
}


/* Titre du menu latéral */
.sidebar h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1.25em;
}

.sidebar li {
  margin-bottom: 0.625em;
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  display: block;
  padding: 0.75em 0;
  border-radius: 0.5em;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.sidebar a:hover {
  background-color: var(--primary-color-transparent);
  color: white;
  transform: scale(1.05);
  box-shadow: var(--shadow);
}

.sidebar ul {
  align-content: center;
}


.content {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Les pages sont utilisées dans les exercices */
.page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0.8em;
  box-shadow: var(--shadow);
  margin-bottom: 1.5em;
  padding: 0;
}

/* Contenu des "pages" */
.section-content {
  position: relative;
  z-index: 1;
  padding: 1em;
  text-align: center;
}



.hyperlink {
  color: var(--white);
  text-decoration: none;
  transition: color 0.5s ease, text-shadow 0.5s ease;
  margin: auto 7%;
}

.hyperlink:hover {
  color: var(--contrast-color);
  text-shadow: var(--shadow);
}




/* Afin d'éviter que le menu latéral gêne */
@media (max-aspect-ratio: 1.6) {

  .titre-page {
    font-size: 2.2em;
    float: none;
    margin: 2% auto;
  }

  .exercise {
  width: 90%;
  float: none;
  margin: 2% auto;
  }

  .exercise-menu {
    width: auto;
    padding: 0.625em;
    margin: 1em auto;
    border-radius: 0.5em;
  }

  .exercise-menu h2 {
    font-size: 1.1em;
    margin-bottom: 0.75em;
  }

  .exercise-menu ul {
    margin: 0;
    padding: 0;
  }

  .exercise-menu li {
    margin-bottom: 0.5em;
  }

  .exercise-menu a {
    padding: 0.5em 1em;
    border-radius: 0.3em;
  }

  .content {
    padding: 0.5em;
    align-items: flex-start;
  }

  .sidebar {
    position: static;
    max-width: 100%;
    width: 90%;
    animation: none;
    margin: auto auto 1% auto;
    z-index: 1;
    margin-top: 1em;
  }

  .sidebar a:hover {
    background-color: var(--primary-color-transparent);
    color: #8deeff;
    transform: scale(1); /* Retire l'effet de grossissment */
    box-shadow: var(--shadow);
  }

  .page {
    border-radius: 0.5em;
    box-shadow: none;
  }

  .section-content {
    padding: 0.5em;
  }
}

/* Menu sur téléphone (format portrait) */
@media (max-aspect-ratio: 0.9) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .consigne {
    display: none;
  }

  .titre-page-center {
    font-size: 2em;
    text-align: center;
  }
  

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2%;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .menu-item a {
    padding: 0.75rem 1rem;
  }

  .question p, .exercise-correction p {
    font-size: 3vw;
  }

  .titre-page {
    line-height: 10vw;
  }

  .menu-toggle {
    display: block;
    align-self: flex-end;
    margin-right: 1rem;
    z-index: 3;
  }

  .menu.show {
    display: flex;
  }

  .dropdown .submenu {
    position: relative;
    left: 0;
    top: 0;
  }

  .dropdown .submenu .submenu {
    left: 0;
  }
}

